@model IEnumerable<MyBiking.Entity.Models.RideTimeActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Day</th>
            <th>@Model.Count()</th>
        </tr>
    </thead>
    <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Year
@*                      @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                    </td>
                    <td>
                        @String.Join(',',item.Months)
                    </td>
                </tr>
            }
        

    </tbody>
</table>
