@model MyBiking.Application.ViewModels.MonthlyRideModelView

@{
    ViewData["Title"] = "MonthlyRides";
}

<h1>MonthlyRides</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@



<table class="table">
    <thead>
        <tr>
@*             <th>
                @Html.DisplayNameFor(model => model.RideDtos[0].BikeId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.RideDtos[0].StartingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideDtos[0].EndingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideDtos[0].Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.RideDtos) {
                <tr>
@*                     <td>
                        @Html.DisplayFor(modelItem => item.BikeId)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td>
                        <button class="btn btn-danger deleteBtn" data-id="@item.Id" type="button">Delete</button>
                        <button class="btn btn-primary previewBtn" data-id="@item.Id"  type="button">Preview</button>
                    </td>

                
                </tr>
                <tr>
                 <td class="border-bottom-0" colspan="3">
                        <div class="row dataRow">
                            <a class="btn btn-primary w-25 mt-2 wheelieDetailsBtn" asp-action="Index" asp-controller="Wheelie" asp-route-id="@item.Id">Wheelie details</a>
                        </div>
                    </td>

                </tr>
            }
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js//RideActivity/Ride.js"></script>
}